body {
  height: 98vh;
}

.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#debug {
  flex: 1;
  height: 100%;
}
#test-zone {
  flex: 3;
  height: 100%;
  max-height: 98vh;
  background-color: burlywood;
  position: relative;
}
#position {
  position: absolute;
  top: 8px;
  left: 8px;
  font-weight: 600;
}
